<%= render "shared/navbar" %>

<h1><%= @user.name %></h1>

<% if flash[:alert] %>
  <br />
  <br />
  <div class="alert"><%= flash[:alert] %></div>
<% end %>


<% if current_user.id != @user.id %>

  <% follow = Follow.where("follower_id = ? AND followee_id = ?", current_user.id, params[:id]) %>

  <% if !follow.any? %>

    <%= form_with model: @user, url: follows_path, method: :post  do |form| %>
      <%= form.hidden_field :id, :value => @user.id %>
      <%= form.submit "Follow" %>
    <% end %>
    
  <% elsif follow.first.status == 'pending' %>

    <%= form_with model: @user, url: follow_path, method: :delete  do |form| %>
      <%= form.hidden_field :id, :value => @user.id %>
      <%= form.submit "Cancel pending request" %>
    <% end %>

  <% else %>

    <%= form_with model: @user, url: follow_path, method: :delete  do |form| %>
      <%= form.hidden_field :id, :value => @user.id %>
      <%= form.submit "Unfollow" %>
    <% end %>

  <% end %>

<% else %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
<br>
<% if @posts %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post_path(post.id) do %>
          <div class="post">
            <% if post.image_url %>
              <img src=<%=post.image_url%>>
              <br>
            <% end %>
            <%= post.body %>
            <br>
            
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
