<%= render "shared/navbar" %>

<h1>Home</h1>
<%= link_to 'New Post', new_post_path %>
<div>
  <% if @posts %>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div class="post">
            <%= link_to post_path(post.id) do %>
                <% if post.image_url %>
                  <img src=<%=post.image_url%>>
                  <br>
                <% end %>
                <%= post.body %>
                <br>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
