<%= render "shared/navbar" %>

<h1><%= @post.user.name %> posted:</h1>

<% if flash[:alert] %>
  <br>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<div class="post">
  <% if @post.image_url %>
    <img src=<%= @post.image_url%>>
    <br>
  <% end %>
  <%= @post.body %>
  <br>
  <br>
  <% like = Like.where("user_id = ? AND post_id = ?", current_user.id, @post.id) %>

  <% if like.any? %>
    <%= form_with model: @post, url: like_path, method: :delete do |form| %>
      <%= form.hidden_field :id, :value => @post.id %>
      <%= form.submit "Unlike" %>
    <% end %>
  <% else %>
    <%= form_with model: @post, url: likes_path, method: :post do |form| %>
      <%= form.hidden_field :id, :value => @post.id %>
      <%= form.submit "Like" %>
    <% end %>
  <% end %>
</div>
<br>
<%= form_with model: [@post, @comment] do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.text_area :content, size: "40x2" %>
  <%= f.submit "Comment" %>
<% end %>

<% if @comments.any? %>
  <br>
  <br>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <div class="comment">
          <div class="commentInfo"><%= comment.user.name %>, posted at <%= comment.created_at %></div>
          <br>
          <%= comment.content %>
        </div>
        <br>
      </li>
    <% end %>
  </ul>
<% end %>